.contact-container {
    text-align: center;
    width: 50vw; 
    margin: 0 auto;
}

img {
    width: 4vw; 
    height: auto; 
}


footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}  